<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :memo_id %>
    <%= form.number_field :memo_id, id: :comment_memo_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :comment_user_id %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :comment_username %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :comment_date %>
  </div>

  <div class="field">
    <%= form.label :comment_text %>
    <%= form.text_area :comment_text, id: :comment_comment_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
