<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Utwórz usterkę</h4>
        </div>

            <%= bootstrap_form_for :issue, :url => url_for(:controller => 'issues', :action => 'create') do |f| %>
        <div class="modal-body">

                <div class="row">
                    <div class="col-xs-8">
                        <%= f.text_field :pattern, label: "Nazwa" %>
                    </div>

                    <div class="col-xs-4">
                        <%= f.collection_select :room_id, Room.all, :room_id, :room_id, label: "Ikona" %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <%= f.collection_select :room_id, Room.all, :room_id, :room_id, label: "Grupa" %>
                    </div>

                    <div class="col-xs-4">
                         <%= f.select :priority, options_for_select([['Niski' ,1], ['Średni', 2], ['Wysoki', 3]])%>
                    </div>
                </div>


                <!-- Room ID & Priority -->
               <!--  <div class="row">
                    <div class="col-xs-12">
                        <%= f.collection_select :room_id, Room.all, :room_id, :room_id, label: "Pokój" %>
                    </div>
                </div> -->

                <!-- Issue Type & Priority -->
                <!-- <div class="row">
                    <div class="col-xs-8">
                        <%= f.collection_select :issue_type, IssueType.all, :id, :issue_description, label: "Rodzaj Usterki" %>
                    </div>
                    <div class="col-xs-4">
                        <%= f.select :priority, options_for_select([['Niski' ,1], ['Średni', 2], ['Wysoki', 3]])%>
                    </div>
                </div> -->

                <!-- Comment -->
                <!-- <div class="row">
                    <div class="col-xs-12">
                        <%= f.text_field :fix_comment, label: "Komentarz" %>
                    </div>
                </div> -->

                <%= f.hidden_field :timestamp, :value => Date.today %>
                <%= f.hidden_field :completion_date, :value => nil %>

                <!-- Recurring Checbox & Dropdown -->
                <!-- <div class="row">

                    <div class="col-xs-6">

                        <label class="control-label">Powtarzanie</label>
                        <div id="recurring_check_box_wrapper">
                            <%= f.form_group :is_recurring do %>
                                <div class="checkbox-slider--c">
                                    <label> 
                                        <%= f.check_box :is_recurring, id: "recurring_check_box" do %>
                                            <span>Powtarzanie</span>
                                        <% end %>
                                    </label>
                                </div>
                            <% end %>
                        </div>
                        <script type="text/javascript">
                            $('#recurring_check_box_wrapper').click(function() {
                                document.getElementById('recurring_check_box').click();
                            })
                        </script>

                    </div>

                    <div class="col-xs-6" id="new_issue_recurring_options" style="display: none">
                        <%= f.select :recurrence, options_for_select([['Codziennie' ,1], ['Co tydzień', 2], ['Co miesiąc', 3], ['Wybrane dni miesiaca', 4]])%>
                    </div>
                </div> -->

                <!-- Date Picker -->
                <!-- <div class="row" id="new_issue_date_field">
                    <div class="col-xs-6">                    
                        <div class="btn-group">
                            <label>Data wykonania</label>
                            <div class="input-group date" data-provide='datepicker'>
                                <%= f.text_field :requested_fix_date, class: 'form-control' , :value => @stored_date, 
                                    hide_label: true  %>
                                <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            </div>
                        </div>  
                    </div>
                </div> -->

                <!-- Selected Days -->
                <!-- <div class="row" id="new_issue_recurring_additional" style="display: none">
                    <div class="col-xs-12">
                        <%= f.text_field :pattern, label: "Dni, oddzielone przecinkami" %>
                    </div>
                </div>    -->             

                <!-- Recurring Date Pickers -->
                <!-- <div class="row" id="new_issue_recurring_date_pickers" style="display: none">
                    
                    <div class="col-xs-6">
                        <div id="new_issue_start_date_field" class="btn-group">
                            <label>Data rozpoczęcia</label>
                            <div class="input-group date" data-provide='datepicker'>
                                <%= f.text_field :start_date, class: 'form-control', hide_label: true%>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div> 
                    </div>

                    <div class="col-xs-6">
                        <div id="new_issue_end_date_field" class="btn-group">
                            <label>Data zakończenia</label>
                            <div class="input-group date" data-provide='datepicker'>
                                <%= f.text_field :end_date, class: 'form-control', hide_label: true%>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div> -->

           
        </div>
             <div class="modal-footer">
                    <div class="text-right">
                        <a href="" data-dismiss="modal" class="btn btn-default">Anuluj</a>
                        <%= f.submit "Utwórz", :class => 'btn btn-primary' %>
                    </div>
                </div>

            <% end %>
            
    </div>
</div>