<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Utwórz usterkę</h4>
        </div>

        <div class="modal-body">
            <%= bootstrap_form_for :issue, :url => url_for(:controller => 'issues', :action => 'create') do |f| %>
                <%= f.collection_select :issue_type, IssueType.all, :id, :issue_description, label: "Rodzaj Usterki" %>
                <%= f.text_field :fix_comment, label: "Komentarz" %>
                <%= f.hidden_field :timestamp, :value => Date.today %>
                <%= f.hidden_field :completion_date, :value => nil %>
                <%= f.collection_select :room_id, Room.all, :room_id, :room_id, label: "Pokój" %>
                <div class="row">
                    <div class="form-group col-xs-5">
                        <%= f.select :priority, options_for_select([['Niski' ,1], ['Średni', 2], ['Wysoki', 3]])%>
                    </div>
                    <div class="form-group col-xs-7">
                        <%= f.form_group :is_recurring do %>
                            <%= f.check_box :is_recurring, label: "Powtarzanie", id: "recurring_check_box" %>
                        <% end %>
                    </div>
                </div>



                <div id="new_issue_date_field" class="btn-group" style="max-width: 140px;">
                    <div class="input-group date" data-provide='datepicker'>
                    <%= f.date_field :requested_fix_date, class: 'form-control' , :value => @stored_date %>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    </div>
                </div>  
                <script>
                    $('#new_issue_date_field .input-group.date').datepicker({
                        format: 'yyyy-mm-dd',
                        language: "pl",
                        autoclose: true,
                        todayHighlight: true,
                        todayBtn: "linked"
                    }).on('changeDate', function (a) {
                        var date = a.date.getFullYear() + "-" + (a.date.getMonth() + 1) + "-" + a.date.getDate();
                    });
                </script>


                <div id="new_issue_recurring_options" style="display: none">

                    <div id="new_issue_start_date_field" class="btn-group" style="max-width: 140px;">
                        <div class="input-group date" data-provide='datepicker'>
                            <%= f.date_field :start_date, class: 'form-control', label: "Data rozpoczęcia"%>
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div> 
                    <script>
                        $('#new_issue_start_date_field .input-group.date').datepicker({
                            format: 'yyyy-mm-dd',
                            language: "pl",
                            autoclose: true,
                            todayHighlight: true,
                            todayBtn: "linked"
                        }).on('changeDate', function (a) {
                            var date = a.date.getFullYear() + "-" + (a.date.getMonth() + 1) + "-" + a.date.getDate();
                        });
                    </script>

                    <div id="new_issue_end_date_field" class="btn-group" style="max-width: 140px;">
                        <div class="input-group date" data-provide='datepicker'>
                            <%= f.date_field :end_date, class: 'form-control', label: "Data zakończenia"%>
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div> 
                    <script>
                        $('#new_issue_end_date_field .input-group.date').datepicker({
                            format: 'yyyy-mm-dd',
                            language: "pl",
                            autoclose: true,
                            todayHighlight: true,
                            todayBtn: "linked"
                        }).on('changeDate', function (a) {
                            var date = a.date.getFullYear() + "-" + (a.date.getMonth() + 1) + "-" + a.date.getDate();
                        });
                    </script>

                    <%= f.select :recurrence, options_for_select([['Codziennie' ,1], ['Co tydzień', 2], ['Co miesiąc', 3], ['Wybrane dni miesiaca', 4]])%>
                </div>

                <div id="new_issue_recurring_additional" style="display: none">
                    <%= f.text_field :pattern, label: "Dni, oddzielone przecinkami" %>
                </div>

                <div class="modal-footer">
                    <div class="text-right">
                        <a href="" data-dismiss="modal" class="btn btn-default">Anuluj</a>
                        <%= f.submit "Utwórz", :class => 'btn btn-primary' %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>