<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Utwórz usterkę</h4>
        </div>

            <%= bootstrap_form_for :issue_type, :url => url_for(:controller => 'issues', :action => 'create_issue_type') do |f| %>
        <div class="modal-body">

                <div class="row">
                    <div class="col-xs-8">
                        <%= f.text_field :description, label: "Nazwa" %>
                    </div>

                    <div class="col-xs-4">
                        <div class="btn-group">
                            <div class="dropdown">
                                <%= image_tag "icons/issue/#{@chosen_image.split('/').last}", :id => "issue-choosen-icon"%>
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100%">
                                   Ikona
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <% @images.each do |image| %>
                                        <li > <!-- class="g-issue-icon-dropdown" -->
                                            <%= image_tag "icons/issue/#{image.split('/').last}", :class => "issue-choose-icon" %>
                                        </li >
                                    <% end %>
                                    
                                </ul>
                            </div>
                            <script type="text/javascript">
                                $('.issue-choose-icon').click(function (event) {
                                    var new_image_scr = $(this).attr('src');
                                    $('#issue-choosen-icon').attr('src', new_image_scr );
                                    new_image_scr = new_image_scr.replace(new RegExp("\/assets", 'g'), "");
                                    var split = new_image_scr.split("-");
                                    split.splice(-1,1);
                                    new_image_scr = split.join("-") + ".svg";
                                    $('#issue_type_icon_path').val(new_image_scr);
                                    console.log(new_image_scr);
                                });
                            </script>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xs-4">
                         <%= f.select :priority, options_for_select([['Niski' ,1], ['Średni', 2], ['Wysoki', 3]])%>
                    </div>
                </div>

                <%= f.hidden_field :icon_path%>
           
        </div>
             <div class="modal-footer">
                    <div class="text-right">
                        <a href="" data-dismiss="modal" class="btn btn-default">Anuluj</a>
                        <%= f.submit "Utwórz", :class => 'btn btn-primary' %>
                    </div>
                </div>

            <% end %>
            
    </div>
</div>