
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700;800;900" rel="stylesheet">
    </head>

    <body>

        <% content_for :menu do %>
            <% if current_user.receptionist? || current_user.admin?%>
                <div class="g-aside-menu-position">
                    <%= link_to image_tag("left-menu/day-log.png"), "/dayLog/list", :class => "g-aside-icon g-ripple-effect"%>
                    <span class="btn btn-link">Dziennik</span>                
                </div>
            <% end %>
            <% if current_user.maid? || current_user.admin? %>
                <div class="g-aside-menu-position">
                    <%= link_to image_tag("left-menu/rooms.png"), "/roomStatus/list", :class =>  "g-aside-icon g-ripple-effect"%>
                    <span class="btn btn-link">Status Pokojów</span>                
                </div>
            <% end %>
            <% if current_user.maitenance? || current_user.admin? %>
                <div class="g-aside-menu-position g-aside-menu-position-active"> 
                    <%= link_to image_tag("left-menu/issues.png"), "/issueLog/list", :class =>  "g-aside-icon g-ripple-effect"%>               
                    <span class="btn btn-link">Usterki</span>                
                </div>
            <% end %> 
            <div id="g-aside-expand" class="g-aside-menu-position g-ripple-effect">
                <%= image_tag "left-menu/expand.png", :class =>  "g-aside-icon g-ripple-effect"%>
            </div>            
        <% end %>

        <!-- Fluid Container -->
        <div class="container-fluid g-aside-has-aside">

            <!-- Header with main buttons -->
            <div class="row g-header">
                <div class="col-sm-12">

                    <div class="pull-left g-navigation-text">
                        <h4>Usterki</h4>
                    </div>

                    <div class="pull-right ">      

                        <!-- Primary Action Button -->
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary g-ripple-effect" data-toggle="modal" data-target="#modal-add-issue">Zgłoś usterkę</a>
                        </div>

                        <!-- User Avatar / Profile -->
                        <%if user_signed_in? %>
                            <div class="btn-group">
                                <div class="dropdown">

                                    <img class="g-header-avatar dropdown-toggle" src="<%= asset_path( 'avatars/user-avatar-1.png' ) %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="left: -90px">
                                        <li><%= link_to 'Profile', edit_user_registration_path %></li>
                                        <li role="separator" class="divider"></li>
                                        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                                    </ul>
                                </div>
                            </div>
                        <% end %>

                    </div>

                </div>
            </div>   

            <!-- Sub Navigation Tabs -->   
            <div class="row g-subnavigation">
        		<div class="col-md-12 g-tabs">

                    <ul class="nav nav-pills pull-left" role="tablist">
                        <li> <a class="showall">Wszystkie <span class="badge g-badge-blue" id="all-number"><%= @done + @not_done -%></span></a></li>
                        <li> <a class="showopen">Otwarte <span class="badge g-badge-red" id="open-number"><%= @not_done -%></span></a></li>
                        <li> <a class="showready">Gotowe <span class="badge g-badge-green" id="ready-number"><%= @done -%></span></a></li>
                    </ul>  

                    <div class="pull-right">
                        <div class="btn-group">
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Sort By Time
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">Submission Time</a></li>
                                    <li><a href="#">Room Number</a></li>
                                    <li><a href="#">Issue Name</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                            
        		</div>	
        	</div>
            
            <!-- Application Content -->
            <div class="g-application-content">    


                <!-- Card Row -->
                <div class="row">
                    <div class="col-md-12">
                                        
                        <table class="g-table-card g-table-issues mysortable sortable">
                            <tbody>                    
                                
                                    <tr class="g-spacer">
                                        <td colspan="100%" class="text-center">

                                            <p class="g-spacer-line">
                                                <span>
                                                    <label style="width: auto">
                                                        Usterki
                                                    </label>
                                                </span>
                                            </p>

                                        </td>
                                    </tr>

                                <% @issues.each do |c| %>
                                    <tr class="<%= c.is_done ? 'g-table-card-header tr-done' : 'g-table-card-header tr-not_done' =%>" >
                                        <td class="text-center g-table-card-icon-td">
                                            <%= image_tag IssueType.where("id = ?", c.issue_type_id).first.icon.url, :class => "g-issue-icon"%>
                                        </td>
                                        
                                        <td class="strike-out">
                                            <label>Nazwa</label>
                                            <h4> <%= IssueType.where("id = ?", c.issue_type_id).first.issue_description %> </h4>
                                        </td>
                                        <td class="strike-out">
                                            <label>Pokój</label>
                                            <h4> <%= c.room_id %> </h4>
                                        </td>

                                        <td class="strike-out">
                                            <label>Czas&nbsp;zgłoszenia</label>
                                            <h4> <%= c.timestamp %> </h4>
                                        </td>

                                        <td class="hidden-sm strike-out">
                                            <label>Priorytet</label>
                                            <h4>
                                            <% if c.priority == 'High' %>
                                                Wysoki <%= image_tag "Up.png", :class => "g-issue-icon-mini g-issue-icon-red"%>
                                            <% elsif c.priority == 'Medium' %>
                                                Średni
                                            <% elsif c.priority == 'Low' %>
                                                Niski <%= image_tag "Down.png", :class => "g-issue-icon-mini"%>
                                            <% end %>
                                            <!-- <img src="assets/img/icons/application/Up.png" class="g-issue-icon-mini g-issue-icon-red"> -->
                                            
                                            </h4>
                                        </td>

                                        <td class="hidden-sm strike-out" >
                                            <label>Komentarz</label>
                                            <h4> <%= c.fix_comment %> </h4>
                                        </td>  

                                        <td class="text-right">  
                                            <%= image_tag "Ok.png", :class => "g-issue-icon is-complete-icon-ok", :style => c.is_done ? '' : 'display: none;'%>   
                                            <%= image_tag "Circle.png", :class => "g-issue-icon is-complete-icon-circle", :style => c.is_done ? 'display: none;' : ''%>
                                            <%= link_to "Gotowe", "issue/mark_ready?id=#{c.id}", :class => "mark_ready btn btn-link btn-memo-done ready-button", remote: true %>

                                            <div class="btn-group">
                                                <button type="button" class="btn btn-link btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><%= link_to "Edytuj", edit_issue_path(c), remote: true %></li>
                                                    <li>
                                                        <%= link_to "Otwórz", "issue/reopen?id=#{c.id}", :class =>  "btn-memo-reopen reopen", remote: true  %>
                                                    <!-- <a href="#" class="btn-memo-reopen"> Re-Open </a> -->
                                                    </li>
                                                    <li>
                                                        <%= link_to "Usuń", "issue/delete?id=#{c.id}", :class =>  "btn-issues-remove"  %>
                                                    </li>                                                                             
                                                    <li role="separator" class="divider"></li>
                                                    <li><a>Anuluj</a></li>
                                                </ul>
                                            </div> 
                                            
                                        </td>
                                    </tr> 
                                <% end %>                          
                            </tbody>
                        </table>

                    </div>
                </div> 
           </div>        
        </div>

        <!-- Modal Window -->
        <div id="modal-add-issue" class="modal fade modal-add-issue" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Utwórz Memo</h4>
                    </div>

                    <div class="modal-body">
                        <!--
                            <p>Create new issue</p>
                        !-->
                        <%= bootstrap_form_for :issue, :url => url_for(:controller => 'issues', :action => 'create') do |f| %>
                            <%= f.collection_select :issue_type, IssueType.all, :id, :issue_description, label: "Rodzaj Usterki" %>
                            <%= f.date_select :requested_fix_date, label: "Data naprawy" %>
                            <%= f.text_field :fix_comment, label: "Komentarz" %>
                            <%= f.hidden_field :timestamp, :value => Date.today %>
                            <%= f.hidden_field :completion_date, :value => nil %>
                            <%= f.collection_select :room_id, Room.all, :room_id, :room_id, label: "Pokój" %>
                            <%= f.select :priority, options_for_select([['Niski' ,1], ['Średni', 2], ['Wysoki', 3]])%>

                    </div>

                    <div class="modal-footer">
                        <div class="text-right">
                            <a href="" data-dismiss="modal" class="btn btn-default">Anuluj</a>
                            <%= f.submit "Utwórz", :class => 'btn btn-primary' %>
                        </div>
                        <% end %>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="issue-modal" class="modal fade" ></div>
    </body>
    
    <%= javascript_include_tag "ripple-effect.js" %>
    <%= javascript_include_tag "g-aside-expand.js" %>    

</html>
