<!DOCTYPE html>
<html lang="en">
<!--
<html lang="en" class="g-dark-version">
-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bocho</title>
    </head>

    <body>

        <% content_for :menu do %>
            <div class="g-aside-menu-position">
                <%= link_to image_tag("day-log.png"), "/dayLog/list", :class => "g-aside-icon"%>
            </div>
            <div class="g-aside-menu-position g-aside-menu-position-active">
                <%= link_to image_tag("rooms.png"), "/roomStatus/list/all", :class =>  "g-aside-icon"%>
            </div>
            <div class="g-aside-menu-position"> 
                <%= link_to image_tag("issues.png"), "/issues/list/all", :class =>  "g-aside-icon"%>
            </div>
            <div class="g-aside-menu-position">
                <%= link_to image_tag("employees.png"), "employees", :class =>  "g-aside-icon"%>
            </div>
        <% end %>

        <div class="container-fluid g-aside-has-aside">

            	<!-- Header with main buttons -->
        	<div class="row g-header">
                <div class="col-sm-12">

                    <div class="pull-left g-navigation-text">
                        <h4>Pokoje</h4>
                    </div>

                    <div class="pull-right ">

                        <!-- Zamiast tego bedzie avatar
                        <div class="btn-group">
                            <div class="dropdown">
                                <button class="btn-group" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Zalogowano jako: <%= current_user.username %> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><%= link_to 'Profile', edit_user_registration_path %></li>
                                    <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                                </ul>
                            </div>
                        </div>
                        -->

                        <!-- datepicker -->
                        <div id="memo-calendar" class="btn-group" style="max-width: 140px">
                            <div class="input-group date" data-provide='datepicker'>
                                <input type="text" class="form-control">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>   
                        <script>
                            $('#memo-calendar .input-group.date').datepicker({
                                format: 'dd/mm/yyyy',
                                language: "pl",
                                autoclose: true,
                                todayHighlight: true
                            });
                        </script>
                        <!-- datepisker -->           

                        <div class="btn-group">
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal-create-room">Utwórz Pokój</a>                 
                        </div>

                    </div>

                </div>
            </div>    

            <!-- Sub Navigation Tabs -->
            <div class="row g-subnavigation">
        		<div class="col-md-12 g-tabs">

                    <ul class="nav nav-pills pull-left" role="tablist">
                        <li class= <%= params[:group] == 'all' ? 'active' : '' %> ><a href="/roomStatus/list/all">Wszystkie <span class="badge g-badge-blue"><%= @items_size_list[0] -%></span></a></li>
                        <li class= <%= params[:group] == 'open' ? 'active' : '' %>><a href="/roomStatus/list/open">Otwarte <span class="badge g-badge-red"><%= @items_size_list[1] -%></span></a></li>
                        <li class= <%= params[:group] == 'ready' ? 'active' : '' %>><a href="/roomStatus/list/ready">Gotowe <span class="badge g-badge-green"><%= @items_size_list[2] -%></span></a></li>
                    </ul> 

                    <!-- Sortowanie --> 
                    <div class="pull-right">
                        <div class="btn-group">
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Sortuj <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a onclick="sorttable.innerSortFunction.apply(document.getElementById('room_id'), [])">Numer pokoju</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                            
        		</div>	
        	</div>
            
            <!-- Application Content -->
            <div class="g-application-content">    

                <!-- Card Row -->
                <div class="row">
                    <div class="col-md-12">
                       	<table class="g-table-card g-table-issues mysortable sortable">
                            <thead>
                                <tr>
                                  <th id="icon">icon</th>
                                  <th id="memo">memo</th>
                                  <th id="room_id"> room_id</th>
                                  <th id="deadline">deadline</th>
                                  <th id="ready">ready</th>
                                </tr>                                               
                            </thead>

                            <tbody>                    
                                
                                <% @rooms.each do |c| %>
                                    <tr class="g-table-card-header ">
                                        <td class="text-center g-table-card-icon-td">   
                                            <% if c.is_clean %>
                                                <%= image_tag "Ok.png", :class => "g-issue-icon"%>   
                                            <% else  %>
                                                <%= image_tag "Attention.png", :class => "g-issue-icon g-issue-icon-red"%> 
                                            <% end  %>                         
                                        </td>

                                        <td class="g-vertical-top">
                                            <label>Pokoj</label>
                                            <h4><%= c.room_id -%></h4>
                                        </td>

                                        <td  class="g-vertical-top">
                                            <label>Usterki</label>
                                            <%= image_tag "Disconnected.png", :class => "g-issue-icon-mini g-issue-icon-red"%>
                                            <%= image_tag "Light Off.png", :class => "g-issue-icon-mini g-issue-icon-red"%>
                                            <%= image_tag "Toilet Paper.png", :class => "g-issue-icon-mini g-issue-icon-red"%>
                                            <%= image_tag "Water.png", :class => "g-issue-icon-mini g-issue-icon-red"%>
                                        </td>

                                        <td class="g-vertical-middle text-right">   
                                            <a href="#" class="btn btn-link" data-toggle="modal" data-target="#modal-create-issue">Edytuj</a>
                                            <a href="#" class="btn btn-link" data-toggle="modal" data-target="#modal-report-issue">Zgłoś usterkę</a>
                                        </td>
                                    </tr>
                                <% end %>                   
             
                            </tbody>
                        </table>	
                    </div>
                </div>	
                <!-- / Card Row -->    

            </div>        

        </div>

        <!-- Modal Window -->
        <div id="modal-create-room" class="modal fade modal-create-room" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Utwórz Memo</h4>
                    </div>

                    <div class="modal-body">
                        <!--
                            <p>Create new room</p>
                        !-->
                        <%= bootstrap_form_for :memo, :url => url_for(:controller => 'room', :action => 'create') do |f| %>
                          <%= f.number_field :room_id %>
                          <%= f.text_field :description %>
                          <%= f.submit "Utwórz" %>
                        <% end %>

                    </div>

                    <div class="modal-footer">
                       
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </body>
    
</html>