<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bocho</title>

<script src="sorttable.js"></script>
</head>
<body>

<div class="container-fluid g-aside-has-aside">

        <!-- Header with main buttons -->
    <div class="row g-header">
        <div class="col-sm-12">

            <div class="pull-left g-navigation-text">
                <h4>Dziennik</h4>
            </div>

            <div class="pull-right ">
                <div class="btn-group">
                    <div class="dropdown">
                        <!-- PRZYCISK SORTUJĄCY -->                       
                        <button class="btn-group" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Logged in as: <%= current_user.username %> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><%= link_to 'Profile', edit_user_registration_path %></li>
                            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                        </ul>
                    </div>
                </div>

                <div class="btn-group">
                    <a href="#" class="btn btn-default btn-icon"> 
                        <div data-icon="l" class="icon"></div>
                    </a>
                </div>

                <div class="btn-group" style="max-width: 140px">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" value="dupa" />
                            <span class="input-group-addon">
                                <div data-icon="M" class="icon"></div>
                            </span>
                    </div>
                </div>   

                <div class="btn-group">
                    <a href="#" class="btn btn-default btn-icon"> 
                        <div data-icon="m" class="icon"></div>
                    </a>
                </div>                 

                <div class="btn-group" style="margin-left: 16px">
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-memo">Utwórz Memo</a>                 
                </div>

            </div>

        </div>
    </div>    <!-- Sub Navigation Tabs -->
    <div class="row g-subnavigation g-shadow">
        <div class="col-md-12 g-tabs">

            <ul class="nav nav-pills pull-left" role="tablist">
                <li class= <%= params[:group] == 'all' ? 'active' : '' %> ><a href="/dayLog/list/all">Wszystkie <span class="badge g-badge-blue"><%= @items_size_list[0] -%></span></a></li>
                <li class= <%= params[:group] == 'open' ? 'active' : '' %>><a href="/dayLog/list/open">Otwarte <span class="badge g-badge-red"><%= @items_size_list[1] -%></span></a></li>
                <li class= <%= params[:group] == 'ready' ? 'active' : '' %>><a href="/dayLog/list/ready">Gotowe <span class="badge g-badge-green"><%= @items_size_list[2] -%></span></a></li>
            </ul>  


            <div class="pull-right">
            
                <div class="btn-group">
                    <div class="dropdown">
                        <!-- PRZYCISK SORTUJĄCY -->                       
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Sortowanie <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a onclick="sorttable.innerSortFunction.apply(document.getElementById('room_no'), [])">Room number</a></li>
                            <li><a onclick="sorttable.innerSortFunction.apply(document.getElementById('deadline'), [])">Deadline</a></li>
                        </ul>
                    </div>
                </div>

            </div>
                    
        </div>  
    </div>
    
    <!-- Application Content -->
    <div class="g-application-content">    

            <!-- Card Row -->
    <div class="row">
        <div class="col-md-12">
                            
            <table class="g-table-card g-table-issues mysortable sortable">
                <thead>
                    <tr>
                      <th id="icon">icon</th>
                      <th id="memo">memo</th>
                      <th id="room_no"> room_no</th>
                      <th id="deadline">deadline</th>
                      <th id="ready">ready</th>
                    </tr>                                               
                </thead>

                <tbody>                    
                    
                    <% @memos.each do |c| %>
                    	<tr class="g-table-card-header ">
                        <td class="text-center g-vertical-middle g-table-card-icon-td">
                            <% if c.is_done %>
                            	<%= image_tag "Ok.png", :class => "g-issue-icon"%>   
                            <% else  %>
                            	<%= image_tag "Circle.png", :class => "g-issue-icon"%> 
                            <% end  %>                  
                            </td>
                        
                        <td class="g-vertical-middle">
                            <label>Memo</label>
                            <h4><%= c.description -%></h4>
                        </td>

                        <td class="g-vertical-top">
                            <label>Pokoj</label>
                            <h4><%= c.room_no -%></h4>
                        </td>  

                        <td class="hidden-sm g-vertical-top">
                            <label>Kiedy</label>
                            <h4><%= c.deadline -%></h4>
                        </td>  

                        <td class="text-right g-vertical-middle">                         
                            <%= link_to "Gotowe", "/memo/mark_ready?id=#{c.id}" %>
                        </td>
                    	</tr>
   					<% end %>                   
 
                </tbody>
            </table>

        </div>
    </div>  
    <!-- / Card Row -->
  

   </div>        
</div>

<!-- Modal Window -->
<div id="modal-add-memo" class="modal fade modal-create-issue" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Utwórz Memo</h4>
            </div>

            <div class="modal-body">
                <!--
                    <p>Create new issue</p>
                !-->
                <%= bootstrap_form_for :memo, :url => url_for(:controller => 'memo', :action => 'create') do |f| %>
                  <%= f.text_field :description %>
                  <%= f.number_field :room_no %>
                  <%= f.date_select :completion_date %>
                  <%= f.hidden_field :time_stamp, :value => Date.today %>
                  <%= f.hidden_field :is_done, :value => false %>
                  <%= f.submit "Utwórz" %>
                <% end %>

            </div>

            <div class="modal-footer">
               
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>f