<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bocho</title>

<script type="text/javascript">
        $(document).ready(function() {
        $('#my-link').click(function (event) {
            $('div.g-aside-menu-position-active').removeClass('g-aside-menu-position-active');
        });
    });
    </script>

</head>
<body>

<% content_for :menu do %>
    <div class="g-aside-menu-position g-aside-menu-position-active">
        <%= link_to image_tag("day-log.png"), "/dayLog/list/all", :class => "btn btn-link"%>
    </div>
    <div class="g-aside-menu-position">
        <%= link_to image_tag("rooms.png"), "/roomStatus/list/all", :class => "btn btn-link"%>
    </div>
    <div class="g-aside-menu-position"> 
        <%= link_to image_tag("issues.png"), "/issues/list/all", :class => "btn btn-link" %>          
    </div>
    <div class="g-aside-menu-position">
        <%= link_to image_tag("employees.png"), "employees", :class => "btn btn-link" %>    
    </div>
<% end %>



<div class="container-fluid g-aside-has-aside">

        <!-- Header with main buttons -->
    <div class="row g-header">
        <div class="col-sm-12">

            <div class="pull-left g-navigation-text">
                <h4>Dziennik</h4>
            </div>



            <div class="pull-right ">
                

                <!-- datepicker -->
                <div id="memo-calendar" class="btn-group" style="max-width: 140px">

                    <div class="input-group date" data-provide='datepicker'>
                        <input type="text" class="form-control">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>

                </div>   
                <script>
                    $('#memo-calendar .input-group.date').datepicker({
                        format: 'dd/mm/yyyy',
                        language: "pl",
                        autoclose: true,
                        todayHighlight: true
                    });
                </script>
                <!-- datepicker -->           

                <div class="btn-group" style="margin-left: 16px">
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-memo">Utw처rz Memo</a>                 
                </div>
            </div>

        </div>
    </div>    <!-- Sub Navigation Tabs -->
    <div class="row g-subnavigation g-shadow">
        <div class="col-md-12 g-tabs">

            <ul class="nav nav-pills pull-left" role="tablist">
                <li class= <%= params[:group] == 'all' ? 'active' : '' %> ><a href="/dayLog/list/all">Wszystkie <span class="badge g-badge-blue"><%= @items_size_list[0] -%></span></a></li>
                <li class= <%= params[:group] == 'open' ? 'active' : '' %>><a href="/dayLog/list/open">Otwarte <span class="badge g-badge-red"><%= @items_size_list[1] -%></span></a></li>
                <li class= <%= params[:group] == 'ready' ? 'active' : '' %>><a href="/dayLog/list/ready">Gotowe <span class="badge g-badge-green"><%= @items_size_list[2] -%></span></a></li>
            </ul>  


            <div class="pull-right">
            
                <div class="btn-group">
                    <div class="dropdown">
                        <!-- PRZYCISK SORTUJ훲CY -->                       
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Sortowanie <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a onclick="sorttable.innerSortFunction.apply(document.getElementById('room_no'), [])">Numer pokoju</a></li>
                            <li><a onclick="sorttable.innerSortFunction.apply(document.getElementById('deadline'), [])">Termin wykonania</a></li>
                        </ul>
                    </div>
                </div>

            </div>
                    
        </div>  
    </div>
    
    <!-- Application Content -->
    <div class="g-application-content">    

            <!-- Card Row -->
    <div class="row">
        <div class="col-md-12">
                            
            <table class="g-table-card g-table-issues mysortable sortable">
                <tbody>                    
                    
                    <% @memos.each do |c| %>
                    	<tr class="g-table-card-header ">
                        <td class="text-center g-vertical-middle g-table-card-icon-td">
                            <% if c.is_done %>
                            	<%= image_tag "Ok.png", :class => "g-issue-icon"%>   
                            <% else  %>
                            	<%= image_tag "crcl.png", :class => "g-issue-icon"%> 
                            <% end  %>                  
                            </td>
                        
                        <td class="g-vertical-middle">
                            <label>Memo</label>
                            <h4><%= c.description -%></h4>
                        </td>

                        <td class="g-vertical-top">
                            <label>Pokoj</label>
                            <h4><%= c.room_id -%></h4>
                        </td>  

                        <td class="hidden-sm g-vertical-top">
                            <label>Kiedy</label>
                            <h4><%= c.deadline -%></h4>
                        </td>  

                        <td class="text-right g-vertical-middle">                         
                            <%= link_to "Gotowe", "/memo/mark_ready?id=#{c.id}" %>
                        </td>
                    	</tr>
   					<% end %>                   
 
                </tbody>
            </table>

        </div>
    </div>  
    <!-- / Card Row -->
  

   </div>        
</div>

<!-- Modal Window -->
<div id="modal-add-memo" class="modal fade modal-create-issue" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Utw처rz Memo</h4>
            </div>

            <div class="modal-body">
                <!--
                    <p>Create new issue</p>
                !-->
                <%= bootstrap_form_for :memo, :url => url_for(:controller => 'memo', :action => 'create') do |f| %>
                  <%= f.text_field :description %>
                  <%= f.number_field :room_id %>
                  <%= f.date_select :completion_date %>
                  <%= f.hidden_field :time_stamp, :value => Date.today %>
                  <%= f.hidden_field :is_done, :value => false %>
                  <%= f.submit "Utw처rz" %>
                <% end %>

            </div>

            <div class="modal-footer">
               
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>