<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bocho</title>
    </head>

    <body>

        <% content_for :menu do %>
            <div class="g-aside-menu-position g-aside-menu-position-active">
                <%= link_to image_tag("left-menu/day-log.png"), "/dayLog/list", :class => "g-aside-icon g-ripple-effect"%>
                <span class="btn btn-link">Dziennik</span>                
            </div>

            <div class="g-aside-menu-position">
                <%= link_to image_tag("left-menu/rooms.png"), "/roomStatus/list/all", :class =>  "g-aside-icon g-ripple-effect"%>
                <span class="btn btn-link">Status Pokojów</span>                
            </div>

            <div class="g-aside-menu-position"> 
                <%= link_to image_tag("left-menu/issues.png"), "/issues/list/all", :class =>  "g-aside-icon g-ripple-effect"%>
                <span class="btn btn-link">Usterki</span>                
            </div>

            <div class="g-aside-menu-position">
                <%= link_to image_tag("left-menu/employees.png"), "employees", :class =>  "g-aside-icon g-ripple-effect"%>
                <span class="btn btn-link">Pracownicy</span>                
            </div>

            <div id="g-aside-expand" class="g-aside-menu-position g-ripple-effect">
                <%= image_tag "left-menu/expand.png", :class =>  "g-aside-icon g-ripple-effect"%>
            </div>            
        <% end %>  

        <div class="container-fluid g-aside-has-aside">

            <!-- Header with main buttons -->
            <div class="row g-header">
                <div class="col-sm-12">

                    <!-- Screen Name -->
                    <div class="pull-left g-navigation-text">
                        <h4>Dziennik</h4>
                    </div>

                    <div class="pull-right ">

                        <!-- datepicker -->
                        <div id="memo-calendar" class="btn-group" style="max-width: 140px;">
                            <div class="input-group date" data-provide='datepicker'>
                            <%= form_for :memo, :url => url_for(:action => 'list'), :html=> {:id => 'date-form'}  do |f| %>
                                    <%= f.text_field :date, class: 'form-control' %>
                            <% end %>
                            
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>  
                        <script>
                            $('#memo-calendar .input-group.date').datepicker({
                                format: 'yyyy-mm-dd',
                                language: "pl",
                                autoclose: true,
                                todayHighlight: true
                            }).on('changeDate', function () {
                                var form = document.getElementById("date-form");
                                form.submit();
                            });
                        </script>

                        <!-- Primary Action Button -->
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary g-ripple-effect" data-toggle="modal" data-target="#modal-add-memo">Utwórz Memo</a>                 
                        </div>

                        <!-- User Avatar / Profile -->
                        <%if user_signed_in? %>
                            <div class="btn-group">
                                <div class="dropdown">

                                    <img class="g-header-avatar dropdown-toggle" src="<%= asset_path( 'avatars/user-avatar-1.png' ) %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="left: -90px">
                                        <li><%= link_to 'Profile', edit_user_registration_path %></li>
                                        <li role="separator" class="divider"></li>
                                        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                                    </ul>
                                </div>
                            </div>
                        <% end %>

                    </div>                        

                </div>
            </div>    <!-- Sub Navigation Tabs -->
            
            <div class="row g-subnavigation">
                <div class="col-md-12 g-tabs">

                    <ul class="nav nav-pills pull-left" role="tablist">
                        <li> <a id="showall">Wszystkie <span class="badge g-badge-blue"><%= @done + @not_done -%></span></a></li>
                        <li> <a id="showopen">Otwarte <span class="badge g-badge-red"><%= @not_done -%></span></a></li>
                        <li> <a id="showready">Gotowe <span class="badge g-badge-green"><%= @done -%></span></a></li>
                    </ul>  

                    <!-- Sortowanie --> 
                    <div class="pull-right">
                        <div class="btn-group">
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Sortuj <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a id="sort_room">Sort by room</a></li>
                                    <li><a id="sort_date">Sort by date</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                            
                </div>  
            </div>
            
            <!-- Application Content -->
            <div class="g-application-content">    
                <!-- Card Row -->
                <div class="row">
                    <div class="col-md-12">            
                        <table class="g-table-card g-table-issues tablesorter mysortable" id="memo_table">
                            <thead style="display: none">
                                <tr>
                                    <th>Icon</th>
                                    <th>Desc</th>
                                    <th>Room</th>
                                    <th>Date</th>
                                    <th>Hour</th>
                                    <th>Done</th>
                                </tr>
                            </thead>

                            <tbody>                    
                                
                                <% @memos.each do |c| %>
                                	<tr class="<%= c.is_done ? 'g-table-card-header done' : 'g-table-card-header not_done' =%>" >
                                        <td class="text-center g-vertical-middle g-table-card-icon-td">
                                            <% if c.is_done %>
                                            	<%= image_tag "Ok.png", :class => "g-issue-icon"%>   
                                            <% else  %>
                                            	<%= image_tag "Circle.png", :class => "g-issue-icon"%> 
                                            <% end  %>                  
                                            </td>
                                        
                                        <td class="g-vertical-middle">
                                            <label>Memo</label>
                                            <h4><%= c.description -%></h4>
                                        </td>

                                        <td class="g-vertical-top">
                                            <label>Pokój</label>
                                            <h4><%= c.room_id -%></h4>
                                        </td>  

                                        <td class="hidden-sm g-vertical-top">
                                            <label>Kiedy</label>
                                            <h4><%= c.deadline.strftime("%Y-%m-%d") -%></h4>
                                        </td>  

                                        <td class="hidden-sm g-vertical-top">
                                            <label>Godzina</label>
                                            <h4><%= c.deadline.strftime("%H:%M") -%></h4>
                                        </td>  

                                        <td class="hidden-sm g-vertical-middle">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-link btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <div data-icon="/" class="icon"></div>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#" data-toggle="modal" data-target="#modal-add-memo"> Edit </a></li>
                                                    <li><a href="#" class="btn-memo-reopen"> Re-Open </a></li>                                                                        
                                                    <li><a href="#" class="btn-issues-remove"> Remove </a></li>                                    
                                                    <li role="separator" class="divider"></li>
                                                    <li><a href="#">Cancel</a></li>
                                                </ul>
                                            </div>
                                        </td>  

                                        <td class="text-right g-vertical-middle g-stay-in-one-line">  

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-link btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div data-icon="/" class="icon"></div> more
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-toggle="modal" data-target="#modal-add-memo"> Edit </a></li>
                                                <li><a href="#" class="btn-memo-reopen"> Re-Open </a></li>                                                                        
                                                <li><a href="#" class="btn-issues-remove"> Remove </a></li>                                    
                                                <li role="separator" class="divider"></li>
                                                <li><a href="#">Cancel</a></li>
                                            </ul>
                                        </div>  

                                            <div class="btn-group">
                                                <%= link_to "Gotowe", "/memo/mark_ready?id=#{c.id}", :class => "btn btn-link btn-memo-done g-ripple-effect"%>
                                            </div>
                                        </td>
                                	</tr>
               					<% end %>                   
             
                            </tbody>
                        </table>
                    </div>
                </div>  
                <!-- / Card Row -->
           </div>        
        </div>

        <!-- Modal Window -->
        <div id="modal-add-memo" class="modal fade modal-create-issue" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Utwórz Memo</h4>
                    </div>

                    <div class="modal-body">
                        <!--
                            <p>Create new issue</p>
                        !-->
                        <%= bootstrap_form_for :memo, :url => url_for(:controller => 'memo', :action => 'create') do |f| %>
                          <%= f.text_field :description, label: "Opis" %>
                          <%= f.collection_select :room_id, Room.all, :room_id, :room_id, label: "Pokój" %>
                          <%= f.date_select :completion_date, label: "Data Wykonania" %>
                          <%= f.time_select :memo_time, label: "Godzina" %>
                          <%= f.hidden_field :time_stamp, :value => Date.today %>
                          <%= f.hidden_field :is_done, :value => false %>
                          <%= f.submit "Utwórz" %>
                        <% end %>

                    </div>

                    <div class="modal-footer">

                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </body>

    <script type="text/javascript">
        
    </script>

    <%= javascript_include_tag "ripple-effect.js" %>
    <%= javascript_include_tag "g-aside-expand.js" %>

</html>