<div id="login-container">

    <div id="login-content" class="text-center" style="padding: 40px; border: 1px solid rgba(255,255,255,0.16);">

        <img class="fadeInDown animated" src="assets/img/logo/ih-logo.png">

        <h2>Welcome to <strong>eHOTEL</strong></h2>
        <h4>Your on-line hotel system</h4>



        <div class="form-group login-additional-margins-top">
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<div class="field">
					<!-- <%= f.label :username %> -->
					<%= f.text_field :username, autofocus: true, :class => "form-control" %>
				</div>

				<div class="field">
					<!-- <%= f.label :password %> -->
					<%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
				</div>

					<!-- tego chyba nie obslugujemy :) 
					<% if devise_mapping.rememberable? -%>
						<div class="field">
							<%= f.check_box :remember_me %>
							<%= f.label :remember_me %>
						</div>
					<% end -%>
					-->

					<div class="form-group login-additional-margins-top">
						<%= f.submit "Zaloguj", :class => "btn btn-primary g-ripple-effect", :style => "width: 100%" %>
					</div>

			<% end %>
        </div>

        <p class="login-restore-password">Forgot your password? Click <strong><a href="#">here</a></strong> to restore</p>

    </div>

</div>