<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edytuj Memo</h4>
    </div>

    <div class="modal-body">
      <%= bootstrap_form_for @room, remote: true, html: { style: "display:inline;", id: "editRoomForm" } do |f| %>

                <!-- Room ID -->
                <div class="row">
                    <div class="col-xs-12">
                        <%= f.text_field :room_id, label: "Numer pokoju" %>
                    </div>
                </div>

                <!-- Description -->
                <div class="row">
                    <div class="col-xs-12">
                        <%= f.text_field :description, label: "Opis pokoju" %>
                    </div>
                </div>

                <!-- List -->
                <div class="row">
                    <div class="col-xs-12">
                        <select id='selected_issues' class='form-control' name='room[selected_issues][]' multiple='multiple'>
                          <% @issues.each do |c| %>
                            <option value='<%= c.id %>' <%= (@selected_issue_types.include? c.id) ? selected='selected' : "" %> > <%= c.issue_description %> </option>
                          <%end%>
                        </select>
                    </div>
                    <script type="text/javascript">
                        $('#selected_issues').multiSelect();
                    </script>
                    <!-- <div class="col-xs-2">
                        <a class="btn g-ripple-effect" id="addIssue"> -> </a>
                        <a class="btn g-ripple-effect" id="removeIssue"> <- </a>
                    </div>
                    <div class="col-xs-5">
                        <%= f.collection_select :selected_issues, IssueType.none, :id, :issue_description, {label: "Wybrane usterki"}, {multiple: true, id: "selected_issues"} %>
                    </div> -->
                </div>

                 <div class="modal-footer">
                    <div class="text-right">
                        <a href="" data-dismiss="modal" class="btn btn-default">Anuluj</a>
                        <a href="" class="btn btn-primary" id="submitEditRoom">Edytuj</a>
                    </div>
                </div>

            <% end %> 
    </div>

  </div>
</div>