<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Dodaj pokój</h4>
        </div>

            <%= bootstrap_form_for :room, remote: true, html: { style: "display:inline;", id: "newRoomForm" } do |f| %>
        <div class="modal-body">


                <!-- Room ID -->
                <div class="row">
                    <div class="col-xs-12">
                        <%= f.number_field :room_id, label: "Numer pokoju" %>
                    </div>
                </div>

                <!-- Description -->
                <div class="row">
                    <div class="col-xs-12">
                        <%= f.text_field :description, label: "Opis pokoju" %>
                    </div>
                </div>

                <!-- List -->
                <div class="row">
                    <div class="col-xs-12">
                        <%= f.collection_select :selectedIssues, IssueType.all, :id, :issue_description, {label: "Dostępne usterki"}, {multiple: true, id: "selectedIssues"} %>
                    </div>
                    <script type="text/javascript">
                        $('#selectedIssues').multiSelect();
                    </script>

                    <!-- <div class="col-xs-2">
                        <a class="btn g-ripple-effect" id="addIssue"> -> </a>
                        <a class="btn g-ripple-effect" id="removeIssue"> <- </a>
                    </div>
                    <div class="col-xs-5">
                        <%= f.collection_select :selectedIssues, IssueType.none, :id, :issue_description, {label: "Wybrane usterki"}, {multiple: true, id: "selectedIssues"} %>
                    </div> -->
                </div>

                

        </div>
         <div class="modal-footer">
                    <div class="text-right">
                        <a href="" data-dismiss="modal" class="btn btn-default">Anuluj</a>
                        <a href="" class="btn btn-primary" id="submitNewRoom">Utwórz</a>
                    </div>
                </div>
            <% end %>  

    </div>
</div>