
<div class="modal-dialog" role="document" >
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-issues-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Zgłoś usterkę</h4>
        </div>
        <div class="modal-body">
        <%= bootstrap_form_for :room, :url => url_for(:controller => 'rooms', :action => 'report_issue') do |f| %>
            <div class="row" style="display: flex; flex-wrap: wrap;" id = "report-tiles-row">
                <% @issues.each do |c| %>
                    <div class="col-xs-4 report-issue-tile">  
                         <!-- <%= link_to "report?room=#{c.room_id}&issueType=#{c.issue_type}", remote: true do %> -->

                            <table class = "<%= c.is_done ? "g-table-card g-table-card-grid g-report-issue-card" : "g-table-card g-table-card-grid g-report-issue-card  g-report-issue-card-selected--red" %>" 
                                    class = "tile-tab" >
                                <tbody>
                                    <tr class="g-table-card-header">

                                        <td>
                                            <% if c.is_done %>
                                                <%= image_tag  c.icon_path, :class => "g-issue-icon g-issue-icon-red issue_type_icon" %>
                                            <% else %>
                                                <%= image_tag  c.icon_path, :class => "g-issue-icon g-issue-icon-white issue_type_icon" %>
                                            <% end %>
                                            <h4 class="issue-type-id" style="display:none"> <%= c.issue_type %></h4>
                                        </td>
                                    </tr>  
                                    <tr>
                                        <td class="g-report-issue-card-description text-center">
                                            <h4 class = "issue_type_description"> <%= c.issue_description %> </h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>    
                        <!-- <% end %> -->
                    </div>
                <% end %>
            </div>  


                <div id="report-issue-modal-selected-issue" hidden="true">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="form-group">
                                <label>Wybrana usterka</label>

                                <table>
                                    <tbody><tr>
                                        <td style="padding-right: 15px">
                                            <%= image_tag "icons/icon_ok.svg", :class => "g-issue-icon", :id => "chosen-issue-type-icon"%>
                                        </td>
                                        <td>
                                            <h4 id="chose-icon-text">
                                                <!-- TODO: opis wybranej usterki -->
                                            </h4>
                                        </td>
                                    </tr>
                                </tbody></table>  

                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <%= f.text_field :comment, label: "Komentarz" %>
                                <%= f.hidden_field :room_id, :value => @room_id %>
                                <%= f.hidden_field :issue_type, :id => "issue-type-id-input"%>
                                <%= f.submit "Utwórz", :class => 'btn btn-primary' %>
                            </div>
                        </div>
                    </div>                  
                </div>


            
            
        </div>
        
            <!-- Footer -->
        <div class="modal-footer">
                <div class="text-right">
                    
                </div>
        </div>
        <% end %>
    </div>
</div>
