 <!DOCTYPE html>
<html lang="en">
<!--
<html lang="en" class="g-dark-version">
-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bocho</title>
    </head>

    <body>
        <!-- Fluid Container -->
        <div class="container-fluid g-aside-has-aside">

            <!-- Header with main buttons -->
        	<div class="row g-header">
                <div class="col-sm-12">

                    <div class="pull-left g-navigation-text g-mobile-hide">
                        <h4>Pokoje</h4>
                    </div>

                    <div class="pull-right ">

                        <div class="btn-group">
                            <%= link_to "Utwórz pokój", new_room_path, remote: true, :class => "btn btn-primary g-ripple-effect" %>
                        </div>

                        <%if user_signed_in? %>
                            <div class="btn-group">
                                <div class="dropdown">

                                    <img class="g-header-avatar dropdown-toggle" src="<%= asset_path( 'avatars/user-avatar-1.png' ) %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="left: -90px">
                                        <li><%= link_to 'Profile', edit_user_registration_path %></li>
                                        <li role="separator" class="divider"></li>
                                        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                                    </ul>
                                </div>
                            </div>
                        <% end %>                        

                    </div>

                </div>
            </div>    

            <!-- Sub Navigation Tabs -->
            <div class="row g-subnavigation">
        		<div class="col-md-12 g-tabs">

                    <ul class="nav nav-pills pull-left" role="tablist">
                        <li class="showall active"><a>Wszystkie <span class="badge g-badge-blue"><%= @items_size_list[0] -%></span></a></li>
                        <li class="showopen"><a>Otwarte <span class="badge g-badge-red"><%= @items_size_list[1] -%></span></a></li>
                        <li class="showready"><a>Gotowe <span class="badge g-badge-green"><%= @items_size_list[2] -%></span></a></li>
                    </ul> 

                    <!-- Sortowanie --> 
                    <div class="pull-right g-mobile-hide">
                        <div class="btn-group">
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Sortuj <div data-icon="T" class="icon"></div>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a id="sort_room_rooms">Po pokoju</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                            
        		</div>	
        	</div>
            
            <!-- Application Content -->
            <div class="g-application-content">    

                <!-- Card Row -->
                <div class="row">
                    <div class="col-md-12">
                       	<table class="g-table-card g-table-issues mysortable tablesorter">
                            <thead style="display: none">
                                <tr>
                                    <th>Icon</th>  <th>Room_no</th> <th>Issues</th>  <th>Buttons</th>
                                </tr>
                            </thead>

                            <tbody>                    
                                
                                <% @rooms.each do |c| %>
                                    <tr class="g-table-card-header ">

                                        <!-- Status Icon -->
                                        <td class="text-center g-table-card-icon-td">   
                                            <% if Issue.where("room_id = ? AND is_done = ?", c.room_id, false).count == 0 %>
                                                <%= image_tag "Ok.png", :class => "g-issue-icon"%>   
                                            <% else  %>
                                                <%= image_tag "Attention.png", :class => "g-issue-icon g-issue-icon-red"%> 
                                            <% end  %>                         
                                        </td>

                                        <!-- Room Number -->
                                        <td class="g-vertical-top">
                                            <label>Pokoj</label>
                                            <h4><%= c.room_id -%></h4>
                                        </td>

                                        <!-- Issues -->
                                        <td  class="g-vertical-top">
                                            <label>Usterki</label>
                                            <% Issue.where("room_id = ? AND is_done = ?", c.room_id, false).each do |issue| %>
                                                <%= image_tag  IssueType.where("id = ?", issue.issue_type_id).first.icon_path, :class => "g-issue-icon-mini"%>
                                            <% end %>
                                        </td>

                                        <!-- Action Buttons -->
                                        <td class="g-vertical-middle text-right g-stay-in-one-line g-buttons-in-line">  

                                            <div class="btn-group">
                                                <button type="button" class="btn btn-link btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                   <div data-icon="/" class="icon"></div>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><%= link_to "Edytuj", edit_room_path(c), remote: true, :class => "edit-button"  %></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a>Anuluj</a></li>
                                                </ul>
                                            </div> 

                                            <%= link_to "Zgłoś", "report_modal?room_id=#{c.id}", :remote => true, :class =>  "btn btn-link"%>

                                            <!--
                                            <a class="btn btn-link" data-toggle="modal" data-target="#modal-report-issue">Zgłoś usterkę</a>
                                            -->


                                        </td>
                                    </tr>
                                <% end %>                   
             
                            </tbody>
                        </table>	
                    </div>
                </div>	
                <!-- / Card Row -->    

            </div>        
        </div>

        <div id="modal-create-room" class="modal fade"> </div>
        <div id="modal-edit-room" class="modal fade"> </div>
        <div id="modal-report-issue" class="modal fade" data-backdrop="static" > </div>


    </body>

    <%= javascript_include_tag "ripple-effect.js" %>
    <%= javascript_include_tag "g-aside-expand.js" %>    
    
</html>