 <!DOCTYPE html>
<html lang="en">
<!--
<html lang="en" class="g-dark-version">
-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bocho</title>
    </head>

    <body>
        <!-- Fluid Container -->
        <div class="container-fluid g-aside-has-aside">

            <!-- Header with main buttons -->
        	<div class="row g-header">
                <div class="col-sm-12">

                    <div class="pull-left g-navigation-text">
                        <h4>Pokoje</h4>
                    </div>

                    <div class="pull-right ">

                        <div class="btn-group">
                            <%= link_to "Utwórz pokój", new_room_path, remote: true, :class => "btn btn-primary g-ripple-effect" %>
                        </div>

                        <%if user_signed_in? %>
                            <div class="btn-group">
                                <div class="dropdown">

                                    <img class="g-header-avatar dropdown-toggle" src="<%= asset_path( 'avatars/user-avatar-1.png' ) %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="left: -90px">
                                        <li><%= link_to 'Profile', edit_user_registration_path %></li>
                                        <li role="separator" class="divider"></li>
                                        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                                    </ul>
                                </div>
                            </div>
                        <% end %>                        

                    </div>

                </div>
            </div>    

            <!-- Sub Navigation Tabs -->
            <div class="row g-subnavigation">
        		<div class="col-md-12 g-tabs">

                    <ul class="nav nav-pills pull-left" role="tablist">
                        <li class="showall active"><a>Wszystkie <span class="badge g-badge-blue"><%= @items_size_list[0] -%></span></a></li>
                        <li class="showopen"><a>Otwarte <span class="badge g-badge-red"><%= @items_size_list[1] -%></span></a></li>
                        <li class="showready"><a>Gotowe <span class="badge g-badge-green"><%= @items_size_list[2] -%></span></a></li>
                    </ul> 

                    <!-- Sortowanie --> 
                    <div class="pull-right">
                        <div class="btn-group">
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Sortuj <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a onclick="sorttable.innerSortFunction.apply(document.getElementById('room_id'), [])">Numer pokoju</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                            
        		</div>	
        	</div>
            
            <!-- Application Content -->
            <div class="g-application-content">    

                <!-- Card Row -->
                <div class="row">
                    <div class="col-md-12">
                       	<table class="g-table-card g-table-issues mysortable sortable">
                            <thead>
                                <tr style="display: none;">
                                  <th id="icon">icon</th>
                                  <th id="memo">memo</th>
                                  <th id="room_id"> room_id</th>
                                  <th id="deadline">deadline</th>
                                  <th id="ready">ready</th>
                                </tr>                                               
                            </thead>

                            <tbody>                    
                                
                                <% @rooms.each do |c| %>
                                    <tr class="g-table-card-header ">
                                        <td class="text-center g-table-card-icon-td">   
                                            <% if c.is_clean %>
                                                <%= image_tag "Ok.png", :class => "g-issue-icon"%>   
                                            <% else  %>
                                                <%= image_tag "Attention.png", :class => "g-issue-icon g-issue-icon-red"%> 
                                            <% end  %>                         
                                        </td>

                                        <td class="g-vertical-top">
                                            <label>Pokoj</label>
                                            <h4><%= c.room_id -%></h4>
                                        </td>

                                        <td  class="g-vertical-top">
                                            <label>Usterki</label>

                                            <% Issue.where("room_id = ?", c.room_id).each do |issue| %>
                                                <%= image_tag  IssueType.where("id = ?", issue.issue_type_id).first.nok_icon.url, :class => "g-issue-icon-mini"%>
                                            <% end %>
                                            
                                        </td>

                                        <td class="g-vertical-middle text-right">   
                                            <a class="btn btn-link" data-toggle="modal" data-target="#modal-create-issue">Edytuj</a>
                                            <!-- <a class="btn btn-link" data-toggle="modal" data-target="#modal-report-issue">Zgłoś usterkę</a> -->
                                           

                                            <%= link_to "Zgłoś usterkę", "report_modal?room_id=#{c.id}", :remote => true, :class =>  "btn btn-link"%>
                                        </td>
                                    </tr>
                                <% end %>                   
             
                            </tbody>
                        </table>	
                    </div>
                </div>	
                <!-- / Card Row -->    

            </div>        
        </div>

        <div id="modal-create-room" class="modal fade"> </div>
        <div id="modal-report-issue" class="modal fade"> </div>


    </body>

    <%= javascript_include_tag "ripple-effect.js" %>
    <%= javascript_include_tag "g-aside-expand.js" %>    
    
</html>