<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edytuj Memo</h4>
    </div>

    <div class="modal-body">
      <%= bootstrap_form_for @c, remote: true, html: { style: "display:inline;" } do |f| %>
        <%= f.text_field :description, label: "Opis" %>
        <%= f.collection_select :room_id, Room.all, :room_id, :room_id, label: "Pokój" %>  
        <%= f.date_select :deadline, label: "Data Wykonania"%>
        <%= f.time_select :deadline, :ignore_date => true %>
        <%= f.hidden_field :time_stamp, :value => Date.today %>

        <div class="modal-footer">
          <div class="text-right">
              <a href="" data-dismiss="modal" class="btn btn-default">Anuluj</a>
              <%= f.submit "Uaktualnij", :class => 'btn btn-primary' %>
          </div>
        </div>
        
      <% end %>
    </div>

  </div>
</div>