<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Utwórz Memo</h4>
        </div>

        <div class="modal-body">
            <%= bootstrap_form_for :memo, remote: true, html: { style: "display:inline;" } do |f| %>

                <!-- Room ID & Time Picker -->
                <div class="row">
                    <div class="col-xs-6">    
                        <%= f.collection_select :room_id, Room.all, :room_id, :room_id, label: "Pokój" %>
                    </div>

                    <div class="col-xs-6">
                        <%= f.time_select :completion_date, label: "Godzina", :ignore_date => true %>
                    </div>
                </div>

                <!-- Description -->
                <div class="row">
                    <div class="col-xs-12">          
                        <%= f.text_field :description, label: "Opis" %>
                    </div>
                </div>

                <!-- Reccuring Checkbox -->
                <div class="row">
                    <div class="col-xs-6">

                        <label class="control-label">Powtarzanie</label>                    
                        <div id="recurring_check_box_wrapper">
                            <%= f.form_group :is_recurring do %>
                                <div class="checkbox-slider--c">
                                    <label> 
                                        <%= f.check_box :is_recurring, id: "recurring_check_box" do %>
                                            <span>Powtarzanie</span>
                                        <% end %>
                                    </label>
                                </div>
                            <% end %>
                        </div>
                        <script type="text/javascript">
                            $('#recurring_check_box_wrapper').click(function() {
                                document.getElementById('recurring_check_box').click();
                            })
                        </script>

                    </div>

                    <div class="col-xs-6">
                        <div id="new_memo_recurring_options" style="display: none">
                            <%= f.select :recurrence, options_for_select([['Codziennie' ,1], ['Co tydzień', 2], ['Co miesiąc', 3], ['Wybrane dni miesiaca', 4]])%>
                        </div>
                    </div>
                </div>

                <!-- Selected Days -->
                <div class="row" id="new_memo_recurring_additional" style="display: none">
                    <div class="col-xs-12">
                        <%= f.text_field :pattern, label: "Dni, oddzielone przecinkami" %>
                    </div>
                </div>

                <!-- Recurring Date Pickers -->
                <div class="row" id="new_memo_recurring_date_pickers" style="display: none">
                    <div class="col-xs-6 form-group">
                        <div id="new_memo_start_date_field" class="btn-group">
                            <label>Data rozpoczęcia</label>
                            <div class="input-group date" data-provide='datepicker'>
                                <%= f.text_field :start_date, class: 'form-control', hide_label: true%>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div> 
                    </div> 

                    <div class="col-xs-6 form-group">
                        <div id="new_memo_end_date_field" class="btn-group">
                            <label>Data zakończenia</label>
                            <div class="input-group date" data-provide='datepicker'>
                                <%= f.text_field :end_date, class: 'form-control', hide_label: true%>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div> 
                    </div>
                </div>

                <!-- Date Picker -->
                <div class="row" id="new_memo_date_field">
                    <div class="col-xs-6 form-group">
                        <div class="btn-group">
                            <label>Data wykonania</label>
                            <div class="input-group date" data-provide='datepicker'>
                                <%= f.text_field :completion_date, class: 'form-control' , :value => Date.today(), 
                                    hide_label: true  %>
                                <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>

                <%= f.hidden_field :time_stamp, :value => Date.today %>
                <%= f.hidden_field :is_done, :value => false %>

                <!-- Footer -->
                <div class="modal-footer">
                    <div class="text-right">
                        <a href="" data-dismiss="modal" class="btn btn-default">Anuluj</a>
                        <%= f.submit "Utwórz", :class => 'btn btn-primary' %>
                    </div>
                </div>

            <% end %>

        </div>        

    </div>
</div

