<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bocho</title>
    </head>

    <body>
        <!-- Fluid Container -->
        <div class="container-fluid g-aside-has-aside">

            <!-- Header with main buttons -->
            <div class="row g-header">
                <div class="col-sm-12">

                    <!-- Screen Name -->
                    <div class="pull-left g-navigation-text g-mobile-hide">
                        <h4>Dziennik</h4>
                    </div>

                    <div class="pull-right ">

                        <!-- datepicker -->
                        <div id="memo-calendar" class="btn-group" style="max-width: 140px;">
                            <div class="input-group date" data-provide='datepicker'>
                            <%= form_for :memo, :url => url_for(:action => 'list'), :html=> {:id => 'date-form'}  do |f| %>
                                <%= f.text_field :date, class: 'form-control' , :value => @stored_date %>
                            <% end %>
                                <span class="input-group-addon">
                                    <div data-icon="M" class="icon"></div>
                                </span>
                            </div>
                        </div>  
                        <script>
                            $('#memo-calendar .input-group.date').datepicker({
                                format: 'yyyy-mm-dd',
                                language: "pl",
                                autoclose: true,
                                todayHighlight: true,
                                todayBtn: "linked"
                            }).on('changeDate', function (a) {
                                // var form = document.getElementById("date-form");
                                // form.submit();
                                var date = a.date.getFullYear() + "-" + (a.date.getMonth() + 1) + "-" + a.date.getDate();
                                var link = window.location.href.split('?')[0] + "?date=" + date;
                                window.location.href = link;
                                // $.get("/dayLog/list", {date});
                            });
                        </script>

                        <!-- Primary Action Button -->
                        <div class="btn-group">
                            <%= link_to "Utwórz ", new_memo_path, remote: true, :class => "btn btn-primary g-ripple-effect" %>               
                        </div>

                        <!-- User Avatar / Profile -->
                        <%if user_signed_in? %>
                            <div class="btn-group">
                                <div class="dropdown">

                                    <img class="g-header-avatar dropdown-toggle" src="<%= asset_path( 'avatars/user-avatar-1.png' ) %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="left: -90px">
                                        <li><%= link_to 'Profile', edit_user_registration_path %></li>
                                        <li role="separator" class="divider"></li>
                                        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                                    </ul>
                                </div>
                            </div>
                        <% end %>

                    </div>                        

                </div>
            </div>    <!-- Sub Navigation Tabs -->
            
            <div class="row g-subnavigation">
                <div class="col-md-12 g-tabs">

                    <!-- All, Opened, Ready -->
                    <ul class="nav nav-pills pull-left" role="tablist">
                        <li class="showall active">   <a>Wszystkie <span class="badge g-badge-blue" id="all-number"><%= @done + @not_done -%></span></a></li>
                        <li class="showopen">  <a>Otwarte   <span class="badge g-badge-red" id="open-number"><%= @not_done -%></span></a></li>
                        <li class="showready"> <a>Gotowe    <span class="badge g-badge-green" id="ready-number"><%= @done -%></span></a></li>
                    </ul>  
 
                    <!-- Sortowanie --> 
                    <div class="pull-right g-mobile-hide">
                        <div class="btn-group">
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Sortuj <div data-icon="T" class="icon"></div>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a id="sort_room_memo">Po pokoju</a></li>
                                    <li><a id="sort_time_memo">Po godzinie</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                            
                </div>  
            </div>
            
            <!-- Application Content -->
            <div class="g-application-content">    
                <!-- Card Row -->
                <div class="row">
                    <div class="col-md-12">            
                        <table class="g-table-card g-table-issues tablesorter mysortable" id="memo_table">
                            <thead style="display: none">
                                <tr>
                                    <th>Icon</th>  <th>Desc</th> <th>Recurrence</th>  <th>Room</th> <th>Date</th> <th>Hour</th> <th>Done</th>
                                </tr>
                            </thead>

                            <tbody>                    
                                
                                <% @memos.each do |c| %>
                                	<tr class="<%= c.is_done ? 'g-table-card-header tr-done' : 'g-table-card-header tr-not_done' =%>" >
                                        <td class="text-center g-vertical-middle g-table-card-icon-td">
                                            	<%= image_tag "Ok.png", :class => "g-issue-icon is-complete-icon-ok", :style => c.is_done ? '' : 'display: none;'%>   
                                            	<%= image_tag "Circle.png", :class => "g-issue-icon is-complete-icon-circle", :style => c.is_done ? 'display: none;' : ''%>                  
                                            </td>
                                        
                                        <td class="g-vertical-middle strike-out <%= c.is_done ? 'td-done' : '' =%>">
                                            <label>Memo</label>
                                            <h4><%= c.description -%></h4>
                                        </td>

                                        <td class="hidden-xs hidden-sm g-vertical-top strike-out <%= c.is_done ? 'td-done' : '' =%>">
                                            <label>Powtarzanie</label>
                                            <% if c.is_recurring == true %>
                                                <%= image_tag "Refresh.png", :class => "g-issue-icon-mini"%>
                                            <% end %>
                                            </h4>
                                        </td>  

                                        <td class="g-vertical-top strike-out <%= c.is_done ? 'td-done' : '' =%>">
                                            <label>Pokój</label>
                                            <h4><%= c.room_id -%></h4>
                                        </td>  

                                        <td class="hidden-xs hidden-sm g-vertical-top strike-out <%= c.is_done ? 'td-done' : '' =%>">
                                            <label>Data</label>
                                            <h4><%= c.deadline.strftime("%Y-%m-%d") -%></h4>
                                        </td>  

                                        <td class="hidden-xs hidden-sm g-vertical-top strike-out <%= c.is_done ? 'td-done' : '' =%>">
                                            <label>Godzina</label>
                                            <h4><%= c.deadline.strftime("%H:%M") -%></h4>
                                        </td>     


                                        <td class="text-right g-vertical-middle g-stay-in-one-line g-buttons-in-line"> 
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-link btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <div data-icon="/" class="icon"></div>
                                                </button>
                                            
                                                <ul class="dropdown-menu">
                                                    <li><%= link_to "Edytuj", edit_memo_path(c), remote: true, :class => "edit-button" , :style => c.is_done ? 'display: none;' : ''  %></li>
                                                    <li>
                                                        <%= link_to "Otwórz", "memos/reopen?id=#{c.id}", :class =>  "btn-memo-reopen reopen", remote: true  %>
                                                    <!-- <a href="#" class="btn-memo-reopen"> Re-Open </a> -->
                                                    </li>
                                                    <li>
                                                        <%= link_to "Usuń", "memos/delete?id=#{c.id}", :class =>  "btn-issues-remove"  %>
                                                    </li>
                                                    <% if c.is_recurring == true %>  
                                                    <li>
                                                        <%= link_to "Usuń serię", "memos/delete_recurrence?event_id=#{c.event_id}", :class =>  "btn-issues-remove"  %>
                                                    </li>    
                                                    <% end %>
                                                                                 
                                                    <li role="separator" class="divider"></li>
                                                    <li><a>Anuluj</a></li>
                                                </ul>
                                            </div> 
                                            <script>
                                                $(document).on('click', '.dropdown-menu', function (e) {
                                                    e.stopPropagation();
                                                });
                                            </script> 


                                            <%= button_to "Gotowe", "memos/mark_ready" , params: {id: c.id}, class: "btn btn-link btn-memo-done ready-button enabled", remote: true, method: :get, form: {style: 'display:inline-block;',  autocomplete: "off"}, :style => c.is_done ? 'display: none;' : ''%>

                                            <%= button_to "Gotowe", "", class: "btn btn-link btn-memo-done ready-button disabled", disabled: "true", form: {style: 'display:inline-block;',  autocomplete: "off"}, :style => c.is_done ? '' : 'display: none;'%>
                                        
                                        </td>                                        

                                	</tr>
               					<% end %>                   
                            </tbody>
                        </table>
                    </div>
                </div>  
                <!-- / Card Row -->
           </div>        
        </div>
        <div id="modal-add-memo" class="modal fade"></div>
        <div id="memo-modal" class="modal fade" ></div>
    </body>

    <%= javascript_include_tag "ripple-effect.js" %>
    <%= javascript_include_tag "g-aside-expand.js" %>

</html>