<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HotelManager</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
    <div class="pull-right">
    </div>
   <div class="g-aside">
    <% if current_user && (current_user.receptionist? || current_user.admin?) %>
      <div class="g-aside-menu-position <%= controller_name == 'memos' ? ' g-aside-menu-position-active' : '' =%>">
          <%= link_to image_tag("left-menu/day-log.png"), "/dayLog/list", :class => "g-aside-icon g-ripple-effect"%>
          <span class="btn btn-link">Dziennik</span>                
      </div>
    <% end %> 

    <% if current_user && (current_user.maid? || current_user.admin?) %>
      <div class="g-aside-menu-position <%= controller_name == 'rooms' ? ' g-aside-menu-position-active' : '' =%>">
          <%= link_to image_tag("left-menu/rooms.png"), "/roomStatus/list", :class =>  "g-aside-icon g-ripple-effect"%>
          <span class="btn btn-link">Status Pokojów</span>                
      </div>
    <% end %> 

    <% if current_user && (current_user.maitenance? || current_user.admin?) %>
      <div class="g-aside-menu-position <%= controller_name == 'issues' ? ' g-aside-menu-position-active' : '' =%>"> 
          <%= link_to image_tag("left-menu/issues.png"), "/issueLog/list", :class =>  "g-aside-icon g-ripple-effect"%>
          <span class="btn btn-link">Usterki</span>                
      </div>
    <% end %>  

    <% if current_user && current_user.admin? %>
      <div class="g-aside-menu-position <%= controller_name == 'users' ? ' g-aside-menu-position-active' : '' =%>"> 
          <%= link_to image_tag("left-menu/user.png"), "/adminPanel/list", :class =>  "g-aside-icon g-ripple-effect"%>
          <span class="btn btn-link">Użytkownicy</span>                
      </div>
    <% end %> 

      <div id="g-aside-expand" class="g-aside-menu-position g-ripple-effect">
        <%= image_tag "left-menu/expand.png", :class =>  "g-aside-icon g-ripple-effect"%>
      </div>            
    </div>

    <%= yield %>
  </body>
</html>
