<!DOCTYPE html>
<html>
  <head>
    <title>HotelManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <div class="g-aside">
		<div class="g-aside-menu-position">
			<%= link_to image_tag("day-log.png"), "dayLog", :class => "btn btn-link" %>
		</div>

		<div class="g-aside-menu-position">
			<a>	
				<%= link_to image_tag("rooms.png"), "roomStatus", :class => "btn btn-link" %>
			</a>
		</div>

		<div class="g-aside-menu-position g-aside-menu-position-active">
			<a>
	                <!-- <%= image_tag "issues.png" %> -->
				<!-- <img src="/assets/img/menu/issues.png"> -->
<!-- 				<span class="badge g-badge-red g-badge-on-icon">12</span>
				<span class="btn btn-link">Issues</span> -->	

				<%= link_to image_tag("issues.png"), "issues", :class => "btn btn-link" %>

			</a>			
		</div>

		<div class="g-aside-menu-position">
			<a>
	            <!-- <%= image_tag "employees.png" %> -->
				<!-- <img src="/assets/img/menu/employees.png"> -->
				<!-- <span class="btn btn-link">Employees</a>	 -->
				<%= link_to image_tag("employees.png"), "employees", :class => "btn btn-link" %>
					
			</a>
		</div>

		<div id="g-aside-expand" class="g-aside-menu-position">
	        <%= image_tag "expand.png" %>
			<!-- <img src="/assets/img/menu/expand.png"> -->
		</div>
	</div>
    <%= yield %>
  </body>
</html>
