<!DOCTYPE html>
<html>
  <head>
    <title>HotelManager</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="pull-right">
    <!-- logout -->
    <%if user_signed_in? %>
      <div class="dropdown" >
          <button class="login btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin: 10px; padding: 5px 9px;">
              Zalogowano jako: <%= current_user.username %> <div data-icon="T" class="icon"></div>
          <!--    <span class="caret"></span>  -->
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="left:10px; min-width: 150px; top: 40px; border-radius:0;">
              <li class="dropdown-item-login">
              <%= link_to 'Profile', edit_user_registration_path %>
              </li>
              <li class="dropdown-item-login">
              <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
              </li>
          </ul>
      </div>
    <% end %> 
    <!-- logout -->
  </div>
	 <div class="g-aside">
    <%= yield :menu %>
  </div>

    <%= yield %>
  </body>
</html>
